.App {
  max-width: 1024px;
  margin: auto;
}

a,
a:visited {
  text-decoration: none;
  color: #138d75;
}

a:hover {
  text-decoration: underline;
}

table {
  margin-bottom: 2rem;
}

.title {
  padding: 16px;
  padding-bottom: 0px;
}
